{{define "login"}}
<span style="color: #5aaa14;font-size: 8em;">😢</span><br>
An error occurred, you should close this window and look at your terminal
for an error message.
{{end}}

{{define "login-script"}}
<script>
function getFormData() {
  return "";
}
</script>
{{end}}
